/*fonts*/

@font-face {
   font-family: 'open_sans';
   src: url('../fonts/opensans-regular-webfont.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
  }
   
  @font-face {
   font-family: 'open_sans';
   src: url('../fonts/opensans-bold-webfont.woff2') format('woff2');
   font-weight: bold;
   font-style: normal;
  }
  
  @font-face {
   font-family: 'poppins';
   src: url('../fonts/poppins-regular-webfont.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
  }
  
  @font-face {
   font-family: 'poppins';
   src: url('../fonts/poppins-bold-webfont.woff2') format('woff2');
   font-weight: bold;
   font-style: normal;
  }
  li, p, button {
      font-family: 'open_sans';
  }

  h1, h2 {
      font-family: 'poppins';
  }

  a {
      text-decoration: none;
      color: #316AC1;
  }

  a:hover {
      color: rgb(123, 123, 235);
  }

  a:active {
      color: rgb(171, 171, 207);
  }

/*image sizing*/

.images {
    max-width: 100%; 
    height: auto;
}

/*case study*/
.casebody {
  margin: 2rem;
}

.section {
  background-color: #acc7f0;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

.process {
  display: flex;
  margin: 2rem;
  gap: 1rem;
}

.processRev {
  display: flex;
  flex-direction: row-reverse;
  margin: 2rem;
  gap: 1rem;
}

.big {
  max-width: 50%;
}

/*general*/

.numbers {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'poppins';
}

#header {
    margin: 2rem 0 0 2rem;
}


#hover, #click {
  margin-left: 2rem;
}

/*flexing*/

#flexy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #acc7f0;
    border-radius: 1rem;
    margin: 2rem 2rem 0;
    padding: 0 1rem;
    gap: 2rem;
}

#triggers, #rules, #feedback, #loops {
    margin: 1rem 0 1rem 0;
}

/*#rules ul, #feedback ul{
  max-width: 50%;
}*/

.mainlist{
  padding: 0;
}

#triggers h2, #rules h2, #feedback h2, #loops h2{
    text-align: center;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 2rem 2rem 2rem;
}

#content_click {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 2rem 2rem 2rem;
}

#interaction {
  margin: 0;
  display: flex;
  justify-content: center;
}

/*responsive*/

@media (max-width: 500px) {
    #flexy {
        flex-direction: column;
        gap: 0;
    }

    #triggers ul, #rules ul, #feedback ul, #loops ul{
      padding: 0 0 0 2rem;
    }
}

/*button boi*/

#button {
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 4rem;
    margin: 100px 0 80px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #316AC1;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s;
  }

#button:focus {
    outline: 0;
  }

#button:active {
  background-color: #acc7f0;
}

#button:before, #button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

#button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #316AC1 20%, transparent 20%), radial-gradient(circle, #316AC1 90%, transparent 10%),
    radial-gradient(ellipse, transparent 20%, #316AC1 20%, transparent 30%), 
    radial-gradient(circle, #316AC1 20%, transparent 20%), radial-gradient(circle, #316AC1 90%, transparent 10%),
    radial-gradient(ellipse, transparent 10%, #316AC1 15%, transparent 20%),  
    radial-gradient(circle, #316AC1 20%, transparent 20%), radial-gradient(circle, #316AC1 90%, transparent 10%);
    background-size: 10% 10%, 1% 40%, 
    10% 37%,
    15% 15%, 1% 40%, 
    13% 37%, 
    15% 15%, 1% 40%;
  }
#button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #316AC1 20%, transparent 20%), radial-gradient(circle, #316AC1 90%, transparent 10%),
    radial-gradient(circle, #316AC1 20%, transparent 20%), radial-gradient(circle, #316AC1 90%, transparent 10%),
    radial-gradient(circle, #316AC1 20%, transparent 20%), radial-gradient(circle, #316AC1 90%, transparent 10%),
    radial-gradient(circle, transparent 10%, #316AC1 15%, transparent 20%), radial-gradient(circle, #316AC1 90%, transparent 10%),
    radial-gradient(circle, #316AC1 20%, transparent 20%), radial-gradient(circle, #316AC1 90%, transparent 10%);
    background-size: 15% 15%, 1% 40%, 
    20% 20%, 1% 40%,
    18% 18%, 1% 40%, 
    20% 20%, 1% 40%,
    20% 20%, 1% 40%;
  }

#button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 1.5s forwards;
}

#button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 1.5s forwards;
}
  
@keyframes topBubbles {
    0% {
      background-position: 
      5% 90%, 10% 90%, 
      10% 90%, 
      10% 90%, 16% 90%,
      25% 90%,  
      70% 90%, 68% 90%;
    }
    50% {
      background-position: 
      0% 80%, 2.9% 80%, 
      0% 20%, 
      10% 40%, 14.5% 30%,
      30% 30%, 
      90% 30%, 87% 20%;
    }
    100% {
      background-position: 
      0% 70%, -10% 70%, 
      0% 10%, 
      10% 30%, 7% 20%,
      30% 20%,  
      90% 20%, 90% 25%;
      background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
      background-position: 
      10% -10%, 18% -25%, 
      30% 10%, 35% -15%,
      55% -10%, 55% -10%,
      70% -10%, 67% -30%,
      85% -10%, 80% -50%;
    }
    50% {
      background-position: 
      0% 80%, 5% 95%, 
      20% 80%, 24.5% 70%,
      45% 60%, 46% 65%,
      60% 100%, 60% 100%,
      75% 70%, 73% 65%;
    }
    100% {
      background-position: 
      0% 90%, -1% 105%, 
      20% 90%, 19% 75%,
      45% 70%, 46% 75%,
      60% 110%, 60% 110%
      75% 80%, 73% 75%;
      background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
}

/*modal*/

.modal {
  will-change: visibility, opacity;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: all .1s cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: .1s;
}
.modal--active {
  visibility: visible;
  opacity: 1;
}
.modal--align-top {
  align-items: flex-start;
}
.modal__bg {
  background: transparent;
  background-color: #11111157;
}
.modal__dialog {
  width: 60vw;
  height: 45vh;
  border-radius: 1rem;
}
.modal__content {
  border-radius: 1rem;
  width: 60vw;
  height: 45vh;
  will-change: transform, opacity;
  position: relative;
  padding: 0;
  background: #316AC1;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
  opacity: 0;
  transition: all .5s ease-in-out cubic-bezier(0.23, 1, 0.32, 1);
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.modal__content::-webkit-scrollbar {
  display: none;
}
.modal__content--active {
  opacity: 1;
  background-color: #F6F6F6;
}
.modal__close {
  z-index: 1100;
  cursor: pointer;
}
.modal__trigger {
  position: relative;
  display: inline-block;
  padding: 0rem 0rem;
  color: rgba(0,0,0,0.7);
  line-height: 1;
  cursor: pointer;
  background: #F6F6F6;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  user-select: none;
  transition: all .5s ease-in-out cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__trigger--active {
  z-index: 10;
}
.modal__trigger:hover {
  background: #acc7f0;
}
#modal__temp {
  will-change: transform, opacity;
  border-radius: .5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #316AC1;
  transform: none;
  opacity: 1;
  transition: opacity .1s ease-out, transform .5s cubic-bezier(0.23, 1, 0.32, 1);
}

.demo-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2rem;
  padding: 0.6rem;
  background: rgba(0,0,0,0);
  border-radius: 50%;
  transition: all .1s cubic-bezier(0.23, 1, 0.32, 1);
}
.demo-close svg {
  width: 24px;
  fill: #000000;
  pointer-events: none;
  vertical-align: top;
}
.demo-close:hover {
  background: rgba(0,0,0,0.3);
}

.modalheader {
  color: #316AC1;
}

.modal__content p {
  color: #000000;
}

/*download*/
.option {
  width: 100%;
  text-align: left;
  background-color: #ffffff;
}

.option:hover {
  background-color: lightblue;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


#ms-container {
	width: 100%;
	height: 300px;
  opacity: 100%;
}

.ms-content {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 10px solid #2ea4f2;
	border-radius: 100%;
  background-color: #316AC1;
}

.ms-content-inside {
	width: 100%;
	height: 100%;
	position: relative;
}

.ms-line-down-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: rotate(0deg);
	transition: transform 0s ease;
}
#ms-download {
	display: none !important;
}
#ms-download:checked ~ .ms-line-down-container {
	transform: rotate(-360deg);
	transition: transform 1.5s ease 1.25s;
}

/*#ms-download:checked ~ #ms-container {
	transform: scale(0, 0);
	transition: transform 0.5s ease 3s;
}*/

.ms-line-down {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 10px;
	height: 125px;
	background: #FFFFFF;
	border-radius: 50px;
	transition: height .5s ease;
}

#ms-download:checked ~ .ms-line-down-container .ms-line-down {
	height: 10px;
	top: -20px;
	animation: ms-bounce .5s forwards .55s;
}
#ms-download:checked ~ .ms-line-down-container .ms-line-down:before {
	content: '';
	position: absolute;
	top: -.7rem;
	left: -105.3px;
	right: 0;
	bottom: 0;
	width: 200px;
	height: 200px;
	border: 10px solid transparent;
	border-radius: 100%;
	animation: ms-border-fill .5s forwards 3s;
}

.ms-line-point {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 58px;
	height: 130px;
	transition: height .15s ease .45s;
}

#ms-download:checked ~ .ms-line-point {
	height: 60px;
}

#ms-download:checked ~ .ms-line-point:before {
	transform: rotate(90deg);
	right: -10px;
	animation: ms-check-right .25s forwards 3s;
}

#ms-download:checked ~ .ms-line-point:after {
	transform: rotate(-90deg);
	left: -10px;
	animation: ms-check-left .25s forwards 3s;
}

.ms-line-point:before,
.ms-line-point:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 75px;
	bottom: -10px;
	background: #FFFFFF;
	border-radius: 50px;
	transition: transform .15s ease .47s, left .15s ease .47s, right .15s ease .47s;
}

.ms-line-point:before {
	right: 0px;
	transform: rotate(45deg);
}

.ms-line-point:after {
	left: 0px;
	transform: rotate(-45deg);
}

@keyframes ms-bounce {
	0% {
		top: -20px;
	}
	25% {
		top: -250px;
	}
	50% {
		top: -275px;
	}
	100% {
		top: -190px;
	}
}

@keyframes ms-check-left {
	0% {
		transform: rotate(-90deg);
		left: -10px;
		height: 75px;
	}
	100% {
		transform: rotate(-45deg);
		left: 0px;
		height: 45px;
	}
}

@keyframes ms-check-right {
	0% {
		transform: rotate(90deg);
		right: -10px;
		height: 75px;
		bottom: -10px;
	}
	100% {
		transform: rotate(45deg);
		right: 10px;
		height: 80px;
		bottom: -15px;
	}
}

@keyframes ms-border-fill {
	0% {
		border: 10px solid transparent;
	}
	100% {
		border: 10px solid #FFFFFF;
	}
}

@keyframes disappear {
  0% {
    display: block;
  }
  99% {
    display: block;
  }
  100% {
    display: none;
  }
}

/*mobile*/
@media (min-width: 0px) {
  h1 {
    font-size: 1.5rem
  }

  h2 {
    font-size: 1.2rem;
  }

  .modal__content h2 {
    padding: 2rem 1rem 1rem;
    margin: 0;
  }

  .modal__content p {
    padding: 0 1rem;
    margin: 0;
  }
  
  .modal__dialog {
    height: 90vh;
    width: 80vw;
  }

  .modal__content {
    height: 90vh;
    width: 80vw;
  }

  .demo-close {
    margin: 0;
  }

  #ms-container {
    height: 25vh;
  }
}

/*tablet*/

@media (min-width: 500px) {
  h1 {
    font-size: 2rem
  }

  h2 {
    font-size: 1.5rem;
  }

  #ms-container {
    height: 20vh;
  }
}

/*desktop*/

@media (min-width: 900px) {

  .modal__dialog {
    height: 70vh;
    width: 70vw;
  }

  .modal__content {
    height: 70vh;
    width: 70vw;
  }
}